.st2, .v1, .mystyle1 {
  border-right: 2px solid green;
  padding-right: 20px;
  margin-right: 20px;
  flex: 1; /* Distributes space evenly */
}

/* Remove border for the last column if desired */
.mystyle1 {
  border-right: none;
}

.App {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

h3 {
  color: #555;
  font-size: 1.2em;
  margin-bottom: 5px;
}

h4, p {
  color: #777;
  font-size: 1em;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}